<nav class="blue darken-4">
   <div class="nav-wrapper">
      <div class="container">
         <a href="/" class="brand-logo">ToDo</a>
         <ul id="nav-mobile" class="right hide-on-med-and-down">

            <li><a href="/">To Do List</a></li>
            <li><a href="/create">Create To Do</a></li>

         </ul>
      </div>
   </div>
</nav>